@media screen and (max-width: 1250px) {
    
}

@media screen and (max-width: 900px) {
    header nav {
        padding: 0px 15px;
    }
    
    header nav .search-menu{
        padding: 2px 1px;
    }
    
    header nav ul {
        margin: 0px 5px;
    }
    
    header nav ul li {
        padding: 3px 4px;
    }

    header .search_user .search-btn{
        margin: 0px 2px;
    }
    
    header .search_user .search-btn select{
        padding: 5px 1px;
    }
    
    header .search_user .search-btn input{
        padding: 3px 8px;
    }    
}

@media screen and (max-width: 680px) {
    header nav ul {
        display: none;
    }

    
    header nav .profile-icon{
        width: 30px;
        height: 30px;
        margin: 2px;
    }

    header nav .profile-icon img{
        width: 30px;
        height: 30px;
    }

    header .search_user .search-btn{
        margin: 0px 2px;
    }
    
    header .search_user .search-btn select{
        padding: 5px 1px;
    }
    
    header .search_user .search-btn input{
        padding: 3px 8px;
    }    

    header nav .search_user .cart-opt{
        margin-right: 10px;
        margin-left: 10px;
        width: 30px;
    }

    header nav .search_user .cart-opt span{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 50%;
        right: 7px;
    }
}