@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #2874f0;
    --secondary-color: #ffffff;
    --text-color: #333333;
    --btn-color: #ff9f00;
    --rating-color: #f2c94c;
    --color-1: #89A8B2;
    --color-2: #B3c8c4;
    --color-3: #bfecff;
    --color-4: #cdc1ff;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--text-color);
}

body{
    width: 100%;
    height: 100vh;
    background-color: #cdc7e4;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: relative;
    width: 80%;
    height: 90%;
    background-color: var(--color-4);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 25px -8px #000;
}

header nav {
    width: 100%;
    height: 10%;
    /* border: 1px solid black;  */
    display: flex;
    align-items: center;
    padding: 0px 30px;
    justify-content: space-between;
}

header nav .search-menu{
    /* border: 1px solid black; */
    padding: 2px 5px;
    display: flex;
    align-items: center;
}

header nav .profile-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header nav .profile-icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0px 20px;
}

header nav ul li {
    padding: 3px 15px;
}


header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    transition: .3s linear;
}

header nav ul li a:hover {
    color: rgb(255, 255, 255, .7);
    text-decoration: underline;
}

header nav .search_user{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .search_user .search-btn{
    margin: 0px 18px;
    display: flex;
}

header .search_user .search-btn select{
    padding: 3px 10px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: none;
    background: rgb(255, 255, 255, .3);
}

header .search_user .search-btn select::content{
    background: rgb(255, 255, 255, .3);
}

header .search_user .search-btn input{
    padding: 3px 10px;
    border: none;
    outline: none;
    background: rgb(255, 255, 255, .3);
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid black;
}

header nav .search_user input::placeholder {
    color: #fff;
}


header nav .search_user .cart-opt{
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    background: var(--btn-color);
}

header nav .search_user .cart-opt .cart-icon{
    text-decoration: none;
    color: #fff;
}

header nav .search_user .cart-opt span{
    display: flex;
    width: 12px;
    height: 12px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 7px;
    font-size: 12px;
}

